<div class="main-content">
  <div class="container-fluid">
    <BR>
        <div class="list row">

          <div class="col-md-8">

            <div class="col-sm-6">
              <h4>Cadastro de Lives</h4>
            </div>
            <div class="col-sm-6">
              <button  class="btn btn-success" (click)="novaLive()" >Nova Live</button>&nbsp;
            </div>
            <table class="table">
              <thead class="text-gray">
                  <tr>
                    <th >Data</th>
                    <th >Descrição</th>
                    <th >Status</th>
                     <th width="10%">Editar</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="
                  let live of lives | paginate : {
                          itemsPerPage: pageSize,
                          currentPage: page,
                          totalItems: count
                        };
                    let i = index"
                    [class.active]="i == currentIndex"
                  >
                  <td>{{live.dtInclusao}}</td>
                  <td width="25%">{{live.titulo}}</td>
                      <td>{{live.dsStatus}}</td>

                      <td>
                    <div ngbDropdown class="dropdown">
                      <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false">
                        Ações
                    </button>
                      <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                        <li> <a class="dropdown-item" (click)="editarLive(live)" >&nbsp;Alterar Dados</a>
                        </li>
                        <li> <a class="dropdown-item" [routerLink]="['/live/itens', live.idLive]">&nbsp;Ver Itens</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
          </table>


          <div class="col-md-12">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              [responsive]="true"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>
          </div>

          <div class="mt-3">


            Items per Page:
            <select (change)="handlePageSizeChange($event)">
              <option *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
          </div>
        </div>
        </div>
    </div>
  </div>
