<div class="main-content">
  <div class="container-fluid">
    <BR>
    <div class="list row">

      <BR>

       <div class="col-md-8">

            <div class="col-sm-6">
              <h4>Itens da Live</h4>
            </div>
            <div class="col-sm-6">
              <button  class="btn btn-success" (click)="incluirProduto()" >Incluir Produto</button>&nbsp;
            </div>
            <table class="table">
              <thead class="text-gray">
                  <tr>
                    <th >Cód.</th>
                    <th>Categoria</th>
                    <th >Descrição</th>
                    <th >Especificação</th>
                    <th>Preço</th>
                    <th>Cliente</th>
                    <th width="10%">Editar</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="
                  let liveItem of live.liveItems ;
                    let i = index"
                    [class.active]="i == currentIndex"
                  >
                  <td >{{liveItem.codigo}}</td>
                  <td>{{liveItem.nomeCategoria}}</td>
                  <td width="25%">{{liveItem.nomeProduto}}</td>
                  <td width="25%">{{liveItem.especificacao}}</td>
                  <td>
                    <input placeholder="Valor de Venda" (blur)="atualizarPreco($event, liveItem)" class="form-control w-75" type="text" trim="blur" [value]="liveItem.preco | currency:'BRL'"     required>

                  </td>
                  <td> <!-- <select  class="form-select" (change)="atualizarCliente($event.target, liveItem)" >
                        <option value="">Selecione</option>
                        <option *ngFor="let cliente of clientes"
                                [value]="cliente.id" [selected]="cliente.id == liveItem.idCliente">{{cliente.nome}}</option>
                    </select> -->

                    <ng-select [items]="clientesCombo"
                              bindLabel="name"
                              (ngModelChange)="atualizarCliente($event, liveItem)"
                              bindValue="id"
                              placeholder="Selecione um cliente"
                              [(ngModel)]="liveItem.idCliente">
                              <ng-template ng-footer-tmp>
                                  <div class="input-group" >
                                    <input #cliente placeholder="Novo Cliente" class="form-control w-75" oninput="this.value = this.value.toUpperCase()" type="text" trim="blur" maxlength="100" required>
                                      <div class="input-group-append">
                                        <button title="Adicionar" class="btn btn-success" (click)="NovoCliente(cliente, liveItem)">+</button>
                                      </div>
                                    </div>
                              </ng-template>
                  </ng-select>

                  </td>
                      <td>
                    <div ngbDropdown class="dropdown">
                      <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false">
                        Ações
                    </button>
                      <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">

                      </ul>
                    </div>

                  </td>

                  </tr>
              </tbody>
          </table>





       </div>
    </div>
  </div>
</div>
