<div class="main-content">
  <div class="container-fluid">
    <BR>
    <div class="list row">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Pesquisar pelo nome"
            [(ngModel)]="productName"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="searchProduto()"
            >
              Pesquisar
            </button>
          </div>
        </div>
      </div>
      <BR>


       <div class="col-md-8">

            <div class="col-sm-6">
              <h4>Cadastro de Produtos</h4>
            </div>
            <div class="col-sm-6">
              <button  class="btn btn-success" (click)="incluirProduto()" >Incluir Produto</button>&nbsp;
            </div>
            <table class="table">
              <thead class="text-gray">
                  <tr>
                    <th >Cód.</th>
                    <th >Nome</th>
                      <th>Especificação</th>
                      <th>Categoria</th>
                      <th>Custo</th>
                      <th>Venda</th>
                    <th width="10%">Editar</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="
                  let product of products | paginate : {
                          itemsPerPage: pageSize,
                          currentPage: page,
                          totalItems: count
                        };
                    let i = index"
                    [class.active]="i == currentIndex"
                  >
                  <td >{{product.codigo}}</td>
                  <td width="25%">{{product.descricao}}</td>
                      <td>{{product.especificacao}}</td>
                      <td>{{product.categoria?.descricao}}</td>
                      <td>{{product.precoCusto | currency:'BRL'}}</td>
                      <td>{{product.preco | currency:'BRL'}}</td>
                      <td>
                    <div ngbDropdown class="dropdown">
                      <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false">
                        Ações
                    </button>
                      <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                        <li> <a class="dropdown-item" (click)="editarProduto(product)">&nbsp;Editar</a>
                        </li>
                        <li> <a class="dropdown-item" (click)="excluirProduto(product)">&nbsp;Excluir</a>
                        </li>
                      </ul>
                    </div>

                  </td>

                  </tr>
              </tbody>
          </table>


          <div class="col-md-12">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              [responsive]="true"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>
          </div>

          <div class="mt-3">


            Items per Page:
            <select (change)="handlePageSizeChange($event)">
              <option *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
          </div>
       </div>
    </div>
  </div>
</div>
