<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-circus" [fullScreen] = "true"></ngx-spinner>

<BR>
<div class="main-content max-height">
  <div class="container-fluid max-height d-flex justify-content-center" >
      <div class="row align-items-center max-height">
          <div class="card-login ml-auto mr-auto">
              <div class="card">

                <div class="card-body">
                  <div class="col-md-12" >
                  <!-- Angular Bootstrap Login Page -->
                  <form [formGroup]="formLogin" (ngSubmit)="entrar()">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Login</label>
                      <input type="text" class="form-control" id="login" formControlName="login"  placeholder="Nome do Usuário">

                    </div>
                    <BR>
                    <div class="form-group">
                      <label for="senha">Senha</label>
                      <input type="password" class="form-control" id="senha" formControlName="senha" placeholder="Senha">
                    </div>
                     <BR>
                      <div class="d-flex justify-content-center">
                        <button   type="submit" class="btn btn-primary">Login</button>
                     </div>
                  </form>
                  </div>
                  </div>
            </div>
          </div>
        </div>
      </div>

