<div class="main-content" *ngIf="carregou">
  <div class="container-fluid">
    <BR>
    <div class="list row">
      <div class="col-md-8">

      </div>
      <BR>


       <div class="col-md-8">

            <div class="col-sm-6">
              <h4> Produtos Vinculados</h4>
            </div>

            <table    class="table">
              <thead class="text-gray">
                  <tr>
                    <th >Cód.</th>
                    <th >Nome</th>
                      <th>Especificação</th>
                      <th>Categoria</th>
                      <th>Custo</th>
                      <th>Venda</th>
                    <th width="10%">Editar</th>
                  </tr>
              </thead>
              <tbody >
                  <tr *ngFor="
                  let product of products ;
                    let i = index"
                    [class.active]="i == currentIndex"
                  >
                  <td >{{product.codigo}}</td>
                  <td width="25%">{{product.descricao}}</td>
                      <td>{{product.especificacao}}</td>
                      <td>{{product.categoria.descricao}}</td>
                      <td>{{product.precoCusto | currency:'BRL'}}</td>
                      <td>{{product.preco | currency:'BRL'}}</td>
                      <td>
                    <div ngbDropdown class="dropdown">
                      <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false">
                        Ações
                    </button>
                      <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                        <li> <a class="dropdown-item" (click)="editarProduto(product)">&nbsp;Editar</a>
                        </li>
                        <li> <a class="dropdown-item" (click)="excluirProduto(product)">&nbsp;Excluir</a>
                        </li>
                      </ul>
                    </div>

                  </td>

                  </tr>
              </tbody>
          </table>


       </div>
    </div>
  </div>
</div>
